In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Engineering_graduate_salary.csv')
df.head()

,ID,Gender,DOB,10percentage,10board,12graduation,12percentage,12board,CollegeID,CollegeTier,...,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience,Salary
0,604399,f,1990-10-22,87.80,cbse,2009,84.00,cbse,6920,1,...,-1,-1,-1,-1,-0.1590,0.3789,1.2396,0.14590,0.2889,445000
1,988334,m,1990-05-15,57.00,cbse,2010,64.50,cbse,6624,2,...,-1,-1,-1,-1,1.1336,0.0459,1.2396,0.52620,-0.2859,110000
2,301647,m,1989-08-21,77.33,"maharashtra state board,pune",2007,85.17,amravati divisional board,9084,2,...,-1,-1,260,-1,0.5100,-0.1232,1.5428,-0.29020,-0.2875,255000
3,582313,m,1991-05-04,84.30,cbse,2009,86.00,cbse,8195,1,...,-1,-1,-1,-1,-0.4463,0.2124,0.3174,0.27270,0.4805,420000
4,339001,f,1990-10-30,82.00,cbse,2008,75.00,cbse,4889,2,...,-1,-1,-1,-1,-1.4992,-0.7473,-1.0697,0.06223,0.1864,200000

In [3]:
df.drop(['ID','DOB','CollegeID','12graduation','10board',
        '12board','CollegeState','CollegeCityID','CollegeCityTier',
        'GraduationYear'], axis=1, inplace=True)

df = df.drop_duplicates()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2998 entries, 0 to 2997
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gender                 2998 non-null   object
 1   10percentage           2998 non-null   float64
 2   12percentage           2998 non-null   float64
 3   CollegeTier            2998 non-null   int64
 4   Degree                 2998 non-null   object
 5   Specialization         2998 non-null   object
 6   collegeGPA             2998 non-null   float64
 7   English                2998 non-null   int64
 8   Logical                2998 non-null   int64
 9   Quant                  2998 non-null   int64
 10  Domain                 2998 non-null   float64
 11  ComputerProgramming    2998 non-null   int64
 12  ElectronicsAndSemicon  2998 non-null   int64
 13  ComputerScience        2998 non-null   int64
 14  MechanicalEngg         2998 non-null   int64
 15  ElectricalEngg         2998 non-null   int64
 16  TelecomEngg            2998 non-null   int64
 17  CivilEngg              2998 non-null   int64
 18  conscientiousness      2998 non-null   float64
 19  agreeableness          2998 non-null   float64
 20  extraversion           2998 non-null   float64
 21  nueroticism            2998 non-null   float64
 22  openess_to_experience  2998 non-null   float64
 23  Salary                 2998 non-null   int64
dtypes: float64(9), int64(12), object(3)
memory usage: 585.5+ KB

In [5]:
df.drop(df.iloc[:, 7:23], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2998 entries, 0 to 2997
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2998 non-null   object
 1   10percentage    2998 non-null   float64
 2   12percentage    2998 non-null   float64
 3   CollegeTier     2998 non-null   int64
 4   Degree          2998 non-null   object
 5   Specialization  2998 non-null   object
 6   collegeGPA      2998 non-null   float64
 7   Salary          2998 non-null   int64
dtypes: float64(3), int64(2), object(3)
memory usage: 210.8+ KB

In [6]:
df.describe()

       10percentage  12percentage  CollegeTier   collegeGPA        Salary
count   2998.000000   2998.000000  2998.000000  2998.000000  2.998000e+03
mean      77.666264     74.341061     1.924616    71.509857  3.051748e+05
std       10.002785     11.120299     0.264053     8.122462  2.123312e+05
min       43.000000     40.000000     1.000000     6.630000  3.500000e+04
25%       71.140000     66.000000     2.000000    66.530000  1.800000e+05
50%       78.965000     74.000000     2.000000    71.800000  3.000000e+05
75%       85.600000     82.600000     2.000000    76.300000  3.700000e+05
max       97.760000     98.700000     2.000000    99.930000  4.000000e+06

In [7]:
df.Degree.value_counts()

B.Tech/B.E.      2757
MCA               200
M.Tech./M.E.       40
M.Sc. (Tech.)       1
Name: Degree, dtype: int64

In [8]:
specialization = df.Specialization.value_counts(ascending=False)
specialization

electronics and communication engineering      670
computer science & engineering                 557
information technology                         506
computer engineering                           415
computer application                           201
mechanical engineering                         155
electronics and electrical engineering         148
electronics & telecommunications                89
electrical engineering                          63
electronics & instrumentation eng               24
instrumentation and control engineering         18
information science engineering                 18
electronics and instrumentation engineering     18
civil engineering                               15
electronics engineering                         13
biotechnology                                   12
other                                           10
industrial & production engineering              8
chemical engineering                             7
applied electronics and instrumentation          5
mechanical and automation                        5
telecommunication engineering                    4
automobile/automotive engineering                4
computer science and technology                  4
aeronautical engineering                         3
instrumentation engineering                      3
electronics and computer engineering             3
mechatronics                                     3
metallurgical engineering                        2
industrial engineering                           2
biomedical engineering                           2
information & communication technology           1
electronics                                      1
embedded systems technology                      1
industrial & management engineering              1
electrical and power engineering                 1
computer and communication engineering           1
mechanical & production engineering              1
control and instrumentation engineering          1
ceramic engineering                              1
computer networking                              1
information science                              1
Name: Specialization, dtype: int64

In [9]:
specializationlessthan10 = specialization[specialization<=10]

def removespecialessthan10(value):
    if value in specializationlessthan10:
        return 'other'
    else:
        return value
    
df.Specialization = df.Specialization.apply(removespecialessthan10)

df.Specialization.value_counts()

electronics and communication engineering      670
computer science & engineering                 557
information technology                         506
computer engineering                           415
computer application                           201
mechanical engineering                         155
electronics and electrical engineering         148
electronics & telecommunications                89
other                                           76
electrical engineering                          63
electronics & instrumentation eng               24
electronics and instrumentation engineering     18
instrumentation and control engineering         18
information science engineering                 18
civil engineering                               15
electronics engineering                         13
biotechnology                                   12
Name: Specialization, dtype: int64

In [10]:
df = df[(df['collegeGPA']>40)]

In [11]:
#TAKING CARE OF NULL AND VALUES WHICH HAVE -1
df = df.replace(-1, np.nan)
cols_with_nan = [column for column in df.columns if df.isna().sum()[column] > 0]

for column in cols_with_nan:
    df[column] = df[column].fillna(df[column].mean())

In [12]:
#df.drop(['10percentage'], axis=1, inplace=True) #Both are linearly correlated, so we can remove any one of these

In [13]:
#DATA PREPROCESSING FOR MODEL TRAINING
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df.Gender = le.fit_transform(df.Gender)
df.Degree = le.fit_transform(df.Degree)
df.Specialization = le.fit_transform(df.Specialization)

df.head()

,Gender,10percentage,12percentage,CollegeTier,Degree,Specialization,collegeGPA,Salary
0,0,87.80,84.00,1,0,14,73.82,445000
1,1,57.00,64.50,2,0,4,65.00,110000
2,1,77.33,85.17,2,0,7,61.94,255000
3,1,84.30,86.00,1,0,4,80.40,420000
4,0,82.00,75.00,2,0,0,64.30,200000

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from xgboost import XGBRegressor

In [15]:
X = df.drop('Salary', axis=1)
y = df['Salary']

sc = StandardScaler()
X = sc.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True,random_state=0)

In [16]:
xgb = XGBRegressor()

xgb.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=None, ...)

In [17]:
predictions = xgb.predict(X_test)

In [18]:
## checking R2 score

xgb_r2_score = xgb.score(X_test, y_test)
print("XGBoost R2 Score: ", (xgb_r2_score))

XGBoost R2 Score:  -0.28970774074773087

In [19]:
import pickle

In [20]:
#SAVING THE TRAINED MODEL
filename = 'xgbmodel.pkl'
pickle.dump(xgb, open(filename, 'wb'))

In [21]:
#LOADING THE MODEL
loaded_model = pickle.load(open(filename, 'rb'))
score = loaded_model.score(X_test, y_test)
score

-0.28970774074773087

In [ ]:
df.head()

In [22]:
#TESTING WITH NEW OUTPUTS

new_input = [[0,0,0,0,0,0,0]]
result = loaded_model.predict(new_input)
result

array([300749.28], dtype=float32)